<div class="container">
  <div class=" jumbotron">
    <div>Editing Status</div>

    <%= render 'form', status: @status %>

    <%= link_to 'Show', @status %> |
    <%= link_to 'Back', statuses_path %>
  </div>
</div>
