<div class="container">
  <div class=" jumbotron">
    <div>Add Salary for new employee</div>
    <br>
    <%= render 'form', salary: @salary %>
    <%= link_to 'Back', salaries_path %>
  </div>
</div>
