<div class="container">
  <div class=" jumbotron">
    <div>Editing Project</div>

    <%= render 'form', project: @project %>

    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>
