<div class="container">
  <div class=" jumbotron">
    <div>Editing Role</div>
    <br>
    <%= render 'form', role: @role %>

    <%= link_to 'Show', @role %> |
    <%= link_to 'Back', roles_path %>
  </div>
</div>
