/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.main-nav.navbar-inverse,
.footer-nav.navbar-inverse{
  background-color: rgb(228, 149, 80) !important;
  border-color: transparent;

  li a {
    color: #fff;
  }
}
.main-nav{
  margin-bottom: 0px !important;
}
.hr-nav.navbar-inverse,
.finance-nav.navbar-inverse{
  background-color: transparent;
  border-color: rgb(228, 149, 80) !important;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    color: #fff !important;
}
.logo-size {
  width: 81px;
  margin-top: 1px;
}
