// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-page .panel-heading{
  text-align: center;
  font-size: 15px;
  margin: 6px;
  padding: 9px;
  font-weight: 600;
}
