// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-page .panel-heading{
  text-align: center;
  font-size: 15px;
  margin: 6px;
  padding: 9px;
  font-weight: 600;
}
.emp_name{
  color: #e49550 !important;
  font-weight: 600 !important;
  font-size: 23px !important;
}
.emp_dob,
.emp_role,
.emp_email{
  color: #00ab7e !important;
  font-size: 14px !important;
  font-style: italic !important;
  font-weight: 600 !important;
}
