<nav class="navbar navbar-inverse">
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to users_hr_index_path,  rel: 'tooltip', title: 'List all Employees', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Employees
          <% end %>
        </li>
        <li>
          <%= link_to salaries_finance_index_path,  rel: 'tooltip', title: 'List all Employeer Salaries', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Salaries
          <% end %>
        </li>

      </ul>

    </div>
  </div>
</nav>
